Repository frequenz-floss/frequenz-lib-notebooks, pull requests merged in 2025-03, with the labels that each got.

#29 Update repo config to v0.12.3
  docs/_scripts/macros.py
  mkdocs.yml
  pyproject.toml
Labels: cmd:skip-release-notes, part:docs, part:tooling

#36 Add back mkdocstrings dependencies and add default pytest options
  pyproject.toml
Labels: cmd:skip-release-notes, part:tooling

#37 Fix flake8 issues
  src/frequenz/lib/notebooks/solar/maintenance/data_fetch.py
  src/frequenz/lib/notebooks/solar/maintenance/data_processing.py
  src/frequenz/lib/notebooks/solar/maintenance/models.py
  src/frequenz/lib/notebooks/solar/maintenance/plot_manager.py
  src/frequenz/lib/notebooks/solar/maintenance/solar_maintenance_app.py
  tests/test_config.py
Labels: cmd:skip-release-notes, part:tests

#28 Support metric dependent formulas
  RELEASE_NOTES.md
  src/frequenz/lib/notebooks/config.py
  tests/test_config.py
Labels: part:docs, part:tests

#38 Refactor Email Notification and Improve Attachment Handling
  RELEASE_NOTES.md
  src/frequenz/lib/notebooks/notification_service.py
  tests/test_notification_service.py
Labels: part:docs, part:tests

#39 Update reporting and weather clients
  RELEASE_NOTES.md
  pyproject.toml
Labels: part:docs, part:tooling

#40 Avoid importing CSSDict from Pandas to prevent Jinja2 conflicts
  src/frequenz/lib/notebooks/alerts/__init__.py
  src/frequenz/lib/notebooks/alerts/alert_email.py
Labels: cmd:skip-release-notes

#41 Add notification_utils module and update the Alert Notebook
  RELEASE_NOTES.md
  examples/Alerts Notebook.ipynb
  src/frequenz/lib/notebooks/notification_utils.py
  tests/test_notification_utils.py
Labels: part:docs, part:tests

#43 Enhance alert email module with config abstraction and helpers
  RELEASE_NOTES.md
  src/frequenz/lib/notebooks/alerts/alert_email.py
Labels: part:docs

#44 Add alert visualisation feature
  RELEASE_NOTES.md
  pyproject.toml
  src/frequenz/lib/notebooks/alerts/alert_email.py
Labels: part:docs, part:tooling

#45 Update notebook to use latest alert email features
  examples/Alerts Notebook.ipynb
Labels: cmd:skip-release-notes, part:docs, part:tooling
