Repository frequenz-floss/frequenz-lib-notebooks, pull requests merged in 2025-07, with the labels that each got.

#123 Reset release notes after v0.10.0 release
  RELEASE_NOTES.md
Labels: part:docs

#127 Fix Scheduler and its instantiation inside EmailNotification
  RELEASE_NOTES.md
  src/frequenz/lib/notebooks/notification_service.py
  tests/test_notification_service.py
Labels: part:docs, part:tests

#131 Add state analysis module for extracting component state transitions and alerts
  RELEASE_NOTES.md
  src/frequenz/lib/notebooks/reporting/_state_records.py
  src/frequenz/lib/notebooks/reporting/state_analysis.py
  tests/test_state_analysis.py
Labels: part:docs, part:tests

#129 Update Alert Notebook
  examples/Alerts Notebook.ipynb
Labels: cmd:skip-release-notes, part:docs

#134 Reset release notes after v0.11.1 release
  RELEASE_NOTES.md
Labels: part:docs

#135 Add curtailable flag to PVConfig
  RELEASE_NOTES.md
  src/frequenz/data/microgrid/config.py
Labels: part:docs
