Repository frequenz-floss/frequenz-lib-notebooks, pull requests merged in 2025-06, with the labels that each got.

#95 Bump pandas-stubs from 2.2.3.250308 to 2.2.3.250527
  pyproject.toml
  src/frequenz/lib/notebooks/solar/maintenance/data_processing.py
  src/frequenz/lib/notebooks/solar/maintenance/models.py
  src/frequenz/lib/notebooks/solar/maintenance/plotter_data_preparer.py
Labels: cmd:skip-release-notes, part:tooling

#98 Reset release notes after releasing v0.8.2
  RELEASE_NOTES.md
Labels: part:docs

#99 Fixed a few wrong links in the alerts notebook
  RELEASE_NOTES.md
  examples/Alerts Notebook.ipynb
  examples/Solar Maintenance.ipynb
Labels: part:docs

#100 Add EV to component types
  RELEASE_NOTES.md
  src/frequenz/data/microgrid/config.py
Labels: part:docs

#101 Update service urls used in instructions and examples to dummy
  examples/Anleitung_ Deepnote Projekt erstellen und Notebook importieren.md
  examples/Instructions_ Create a Deepnote project and import a notebook.md
  examples/Weather-API-PV-Forecast.ipynb
Labels: cmd:skip-release-notes, part:docs

#103 Support multiple config files in component data
  RELEASE_NOTES.md
  src/frequenz/data/microgrid/component_data.py
Labels: part:docs

#107 Support secret to sign requests to reporting client
  RELEASE_NOTES.md
  pyproject.toml
  src/frequenz/data/microgrid/component_data.py
  src/frequenz/lib/notebooks/solar/maintenance/data_fetch.py
  src/frequenz/lib/notebooks/solar/maintenance/solar_maintenance_app.py
Labels: part:docs, part:tooling

#108 Reset release notes
  RELEASE_NOTES.md
Labels: part:docs

#110 Update default weather feature to use downward solar radiation
  RELEASE_NOTES.md
  src/frequenz/lib/notebooks/solar/maintenance/config.py
Labels: part:docs

#111 Reset release notes after v0.9.1 release
  RELEASE_NOTES.md
Labels: part:docs

#112 Fix hardcoded feature name
  RELEASE_NOTES.md
  src/frequenz/lib/notebooks/solar/maintenance/solar_maintenance_app.py
Labels: part:docs
