Repository frequenz-floss/frequenz-lib-notebooks, pull requests merged in 2025-05, with the labels that each got.

#70 Upgrade frequenz-client-reporting to minimum v0.16.0
  RELEASE_NOTES.md
  pyproject.toml
Labels: part:docs, part:tooling

#71 Fix workflow crash when requested inverter columns are missing in reporting data
  RELEASE_NOTES.md
  src/frequenz/lib/notebooks/solar/maintenance/solar_maintenance_app.py
Labels: part:docs

#63 Improve notification error handling and update notebooks
  RELEASE_NOTES.md
  examples/Alerts Notebook.ipynb
  examples/Solar Maintenance.ipynb
  src/frequenz/lib/notebooks/notification_service.py
  src/frequenz/lib/notebooks/notification_utils.py
  tests/test_notification_service.py
  tests/test_notification_utils.py
Labels: part:docs, part:tests

#74 feat(plotter-data-preparer): include latest available data up to current timestamp
  RELEASE_NOTES.md
  src/frequenz/lib/notebooks/solar/maintenance/plotter_data_preparer.py
Labels: part:docs

#73 fix(models): pad predictions to match index length in prepare_prediction_models
  RELEASE_NOTES.md
  src/frequenz/lib/notebooks/solar/maintenance/models.py
Labels: part:docs

#76 Fix RuntimeError in solar maintenance app
  src/frequenz/lib/notebooks/solar/maintenance/models.py
Labels: cmd:skip-release-notes

#77 Reset release notes after release
  RELEASE_NOTES.md
Labels: part:docs

#78 Consolidate production stats into a single table for multiple microgrids
  RELEASE_NOTES.md
  src/frequenz/lib/notebooks/solar/maintenance/solar_maintenance_app.py
Labels: part:docs

#80 Add SolarAnalysisData dataclass and clean run_workflow return structure
  RELEASE_NOTES.md
  src/frequenz/lib/notebooks/solar/maintenance/solar_maintenance_app.py
Labels: part:docs

#75 Add simple NoDataAvailableError exception for missing data handling
  RELEASE_NOTES.md
  src/frequenz/lib/notebooks/solar/maintenance/solar_maintenance_app.py
Labels: part:docs

#79 feat: add MicrogridOverviewDashboard for dynamic multi-microgrid display
  RELEASE_NOTES.md
  src/frequenz/lib/notebooks/solar/maintenance/dashboard_styles.py
  src/frequenz/lib/notebooks/solar/maintenance/dashboard_templates.py
  src/frequenz/lib/notebooks/solar/maintenance/microgrid_dashboard.py
Labels: part:docs

#81 Update solar maintainance notebook with dashboard and structured output
  examples/Solar Maintenance.ipynb
Labels: cmd:skip-release-notes, part:docs, status:blocked

#82 Fix: Include current-day production
  RELEASE_NOTES.md
  src/frequenz/lib/notebooks/solar/maintenance/plotter_data_preparer.py
Labels: part:docs

#72 Fix: Handle KeyError in StatisticalPlotStyle duration calculation
  RELEASE_NOTES.md
  src/frequenz/lib/notebooks/solar/maintenance/plot_styles.py
Labels: part:docs

#83 Prepare for release
  RELEASE_NOTES.md
Labels: part:docs

#84 Reset release notes after release
  RELEASE_NOTES.md
Labels: part:docs

#86 Set up module for reporting plots
  RELEASE_NOTES.md
  src/frequenz/lib/notebooks/reporting/__init__.py
  src/frequenz/lib/notebooks/reporting/plotter.py
Labels: part:docs

#87 Update release notes after v0.8.0 release
  RELEASE_NOTES.md
Labels: part:docs
