Repository frequenz-floss/frequenz-lib-notebooks, pull requests merged in 2025-01, with the labels that each got.

#9 Add solar maintenance project files
  RELEASE_NOTES.md
  pyproject.toml
  src/frequenz/datasci/__init__.py
  src/frequenz/datasci/weather/__init__.py
  src/frequenz/datasci/weather/py.typed
  src/frequenz/datasci/weather/weather_api.py
  src/frequenz/lib/notebooks/notification_service.py
  src/frequenz/lib/notebooks/solar/__init__.py
  src/frequenz/lib/notebooks/solar/maintenance/__init__.py
  src/frequenz/lib/notebooks/solar/maintenance/config.py
  src/frequenz/lib/notebooks/solar/maintenance/data_fetch.py
  src/frequenz/lib/notebooks/solar/maintenance/data_processing.py
  src/frequenz/lib/notebooks/solar/maintenance/models.py
  src/frequenz/lib/notebooks/solar/maintenance/notebooks/solar_notebook_example.ipynb
  src/frequenz/lib/notebooks/solar/maintenance/plot_manager.py
  src/frequenz/lib/notebooks/solar/maintenance/plot_styles.py
  src/frequenz/lib/notebooks/solar/maintenance/plotter.py
  src/frequenz/lib/notebooks/solar/maintenance/plotter_config.py
  src/frequenz/lib/notebooks/solar/maintenance/plotter_data_preparer.py
  src/frequenz/lib/notebooks/solar/maintenance/solar_maintenance_app.py
  src/frequenz/lib/notebooks/solar/maintenance/translator.py
  tests/test_notification_service.py
Labels: part:docs, part:tests, part:tooling

#10 Add module for microgrid configs
  RELEASE_NOTES.md
  src/frequenz/lib/notebooks/config.py
Labels: part:docs

#11 Update license disclaimer
  src/frequenz/datasci/__init__.py
  src/frequenz/datasci/weather/__init__.py
  src/frequenz/datasci/weather/weather_api.py
  src/frequenz/lib/notebooks/config.py
  src/frequenz/lib/notebooks/notification_service.py
  src/frequenz/lib/notebooks/solar/__init__.py
  src/frequenz/lib/notebooks/solar/maintenance/__init__.py
  src/frequenz/lib/notebooks/solar/maintenance/config.py
  src/frequenz/lib/notebooks/solar/maintenance/data_fetch.py
  src/frequenz/lib/notebooks/solar/maintenance/data_processing.py
  src/frequenz/lib/notebooks/solar/maintenance/models.py
  src/frequenz/lib/notebooks/solar/maintenance/plot_manager.py
  src/frequenz/lib/notebooks/solar/maintenance/plot_styles.py
  src/frequenz/lib/notebooks/solar/maintenance/plotter.py
  src/frequenz/lib/notebooks/solar/maintenance/plotter_config.py
  src/frequenz/lib/notebooks/solar/maintenance/plotter_data_preparer.py
  src/frequenz/lib/notebooks/solar/maintenance/solar_maintenance_app.py
  src/frequenz/lib/notebooks/solar/maintenance/translator.py
  tests/test_notification_service.py
Labels: cmd:skip-release-notes, part:tests

#12 Update module docstring
  src/frequenz/lib/notebooks/solar/maintenance/plot_styles.py
Labels: cmd:skip-release-notes

#15 Add location metadata to MicrogridConfig
  RELEASE_NOTES.md
  src/frequenz/lib/notebooks/config.py
Labels: part:docs

#16 Support component_category in type IDs retrieval
  RELEASE_NOTES.md
  src/frequenz/lib/notebooks/config.py
Labels: part:docs

#18 Add tests for microgrid config module
  tests/test_config.py
Labels: cmd:skip-release-notes, part:tests

#19 Add summary for release
  RELEASE_NOTES.md
Labels: part:docs
