Repository frequenz-floss/frequenz-lib-notebooks, pull requests merged in 2025-04, with the labels that each got.

#47 Update repo-config to v0.13.1
  .github/dependabot.yml
  .github/workflows/ci-pr.yaml
  .github/workflows/ci.yaml
  pyproject.toml
  src/frequenz/lib/notebooks/alerts/alert_email.py
Labels: cmd:skip-release-notes, part:tooling

#59 Guard against non-scalar timestamps in alert records
  src/frequenz/lib/notebooks/alerts/alert_email.py
  tests/test_alert_email.py
Labels: cmd:skip-release-notes, part:tests

#61 Add module for microgrid component data
  RELEASE_NOTES.md
  src/frequenz/data/microgrid/__init__.py
  src/frequenz/data/microgrid/component_data.py
  src/frequenz/data/microgrid/config.py
  src/frequenz/data/py.typed
  src/frequenz/lib/notebooks/config.py
  tests/test_config.py
Labels: part:docs, part:tests

#60 Update Deepnote instructions
  examples/Anleitung_ Deepnote Projekt erstellen und Notebook importieren.md
  examples/Instructions_ Create a Deepnote project and import a notebook.md
  examples/images/image4.png
Labels: cmd:skip-release-notes, part:docs

#62 Expose MicrogridData in microgrid init
  RELEASE_NOTES.md
  src/frequenz/data/microgrid/__init__.py
Labels: part:docs
